extends ../layouts/default

block intro
	.container
		h1(style="margin-top:80px;text-align:center;") Contact Information
		
block content
	.container(style="margin:auto;")
		#map(style="width:100%;height:400px;")
		.row
			.col-xs-12.col-lg-6
				h3 Gauteng (Head Office)
				p Tel:  011 680 0640
				p Fax: 011 680 0646
				h3 Upington
				p Tel: 054&nbsp;331 1640
				p Address: 160 Rondom Street,Upington.
				h3 Cape Town
				p Tel: 021&nbsp;911 3548
				p Address: Hannes Louw Street,Parow,&nbsp;Cape Town
			.col-xs-12.col-lg-6
				h3 Physical Address
				p No.2 Jermyn Street 
				p (Corner, Mount Ida &amp; Jermyn) 
				p Robertsham 
				p Johannesburg
				p 2091
			.col-xs-12.col-lg-6
				h3 Postal Address
				p P.O. Box 7764 
				p Weltevreden Park
				p 1715

		.row(style="border-top:1px solid #3c3c3c;")
			.col-xs-12.col-lg-6
				p(style="margin-top: 20px;")
					strong Komi Moodley
					span (Chief Executive Officer)
				p Cell: 082 371 9054 
				p Email: 
					a(href="mailto:komi@foag.co.za") komi@foag.co.za
				p 
					strong Laleena Moodley
					span (Chief Financial Officer)
				p Cell: 082 788 6424
				p Email: 
					a(href="mailto:laleena@foag.co.za") laleena@foag.co.za
			.col-xs-12.col-lg-6
				p(style="margin-top: 20px;")
					strong Jivesh Arjun
					span (Sales Engineer)
				p Cell: 084 709 4142
				p Email: 
					a(href="mailto:jivesh@omegafs.co.za") jivesh@omegafs.co.za
				p 
					strong Graham Wonfor
					span (Administration (QA))
				p Cell: 082 880 8659
				p Email: 
					a(href="mailto:graham@foag.co.za") graham@foag.co.za

		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-6(style="width:80%;margin:auto;")
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						label Name
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label Email
						input(type='email', name='email', value=formData.email).form-control
					.form-group
						label Phone
						input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						label What are you contacting us about?
						select(name='enquiryType').form-control
							option(value='') (select one)
							each type in enquiryTypes
								option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label Message
						textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit', style="width: 120px;height: 50px;margin:auto;").btn.btn-primary Send

block js
	script(src="js/google-maps.js")
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5R6vILUq-bXhPj5ORuDVl_QjRXQpiJLM&callback=initMap")
